<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>教科書情報管理ページ（管理者用</title>
    </head>
    <body>
        <form>
        <p>教科書検索（教科書名）<input type="search"><input type="submit" value="検索"></p>
        <table border="1">
            <caption>教科書情報一覧</caption>
            <tr>
                <th>タイトル</th>
                <th>著者</th>
                <th>出版社</th>
                <th>価格</th>
                <th>分類</th>
                <th>状態</th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="変更"></td><td><input type="submit" value="削除"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="変更"></td><td><input type="submit" value="削除"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="変更"></td><td><input type="submit" value="削除"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="変更"></td><td><input type="submit" value="削除"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="変更"></td><td><input type="submit" value="削除"></td>
            </tr>
            
        </table>        
        </form>
    </body>
</html>