<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教科書購入</title>
</head>
<body>
    <table border="1">
        <caption>教科書一覧</caption>
        <tr>
            <th>教科書ID</th>
            <th>タイトル</th>
            <th>価格</th>
            <th>分類</th>
            <th>状態</th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="購入へ"></th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="購入へ"></th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="購入へ"></th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="購入へ"></th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="購入へ"></th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="購入へ"></th>
        </tr>
    </table>


</body>
</html>