<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>（管理者専用）会員管理</title>
</head>
<body>
    <p>会員検索（ユーザ名を入力）<input type="search"><input type="submit" value="検索"></p>
    <table border="1">
        <caption>会員情報一覧</caption>
        <tr>
            <th>ユーザID</th>
            <th>名前</th>
            <th>住所</th>
            <th>電話番号</th>
            <th>メールアドレス</th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="変更"></th><th>
            <input type="submit" value="退会"></th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="変更"></th><th>
            <input type="submit" value="退会"></th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="変更"></th><th>
            <input type="submit" value="退会"></th>
        </tr>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th>
            <input type="submit" value="変更"></th><th>
            <input type="submit" value="退会"></th>
        </tr>
    </table>

</body>
</html>