<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報変更</title>
</head>
<body>
    <p>変更する会員情報を入力して下さい</p>
    <form action="{{url_for('user_info_change.user_info_change')}}" method="POST">
    <p>名前　<input type="text" name="name"></p>
    <p>住所　<input type="text" name="address" size="50"></p>
    <p>電話番号　<input type="tel" name="tel"></p>
    <p>メールアドレス　<input type="email" name="email"></p>
    <p><input type="submit" value="変更する"></p>
    </form>
</body>
</html>