<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>教科書情報管理ページ（管理者用)</title>
    </head>
    <body>
        <form action="{{url_for('book_management.book_search')}}" method="POST">
            <p>教科書検索（教科書名）<input type="text" name="search"><input type="submit" value="検索"></p>
        </form>
        <table border="1">
            <caption>教科書情報一覧</caption>
            <tr>
                <th>タイトル</th>
                <th>著者</th>
                <th>出版社</th>
                <th>価格</th>
                <th>分類</th>
                <th>状態</th>
            </tr>
            {% for book in books%}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.status }}</td>
                <td>
                    <form action="{{url_for('book_management.book_info_show', id=book.id)}}" method="GET">
                    <input type="submit" value="変更">
                </td>
                    </form>
                <td>
                    <form action="{{url_for('book_management.show_book_delete_page', id=book.id)}}">
                    <input type="submit" value="削除">
                </td>
                    </form>
            </tr>
            {% endfor %}
        </table>        
        <a href="{{url_for('top.home')}}">会員ページへ</a>
    </body>
</html>