<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>教科書情報変更</title>
    </head>
    <body>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if category == 'error' %}
                {{message}}
            {% endif %}
        {% endfor %}
        <form action="{{url_for('book_info_change.book_confirm', id=book_change.id)}}" method="POST">
            <h3>変更する教科書を入力してください</h3>
            <div>
                タイトル
                <input type="text" name="title" value="{{ book_change.title }}" maxlength="100" required>
            </div>
            <div>
                ISBN番号＜教科書背面ISBN以降の数字（ハイフンなし）＞ 
                <input type="text" name="isbn_no" value="{{ book_change.isbn_no }}" maxlength="13" required>
            </div>
            <div>
                著者
                <input type="text" name="author" size="15" value="{{ book_change.author }}" maxlength="50" required>
            </div>
            <div>
                出版社
                <input type="text" name="publisher" size="20" value="{{ book_change.publisher }}" maxlength="50" required>
            </div>
            <div>
                価格
                <input type="number" name="price" size="10" min="0" max="999999999" value="{{ book_change.price }}" required>
            </div>
            <div>
                分類
                <select size="1" name="category" required> 
                    <!--categoryの値を引き継いでください--> 
                    <option value="文学部系" {{ "selected" if book_change.category == "文学部系" }}>文学部系</option>
                    <option value="教育学部系" {{ "selected" if book_change.category == "教育学部系" }}>教育学部系</option>
                    <option value="法学部系" {{ "selected" if book_change.category == "法学部系" }}>法学部系</option>
                    <option value="社会学部系" {{ "selected" if book_change.category == "社会学部系" }}>社会学部系</option>
                    <option value="経済学部系" {{ "selected" if book_change.category == "経済学部系" }}>経済学部系</option>
                    <option value="理学部系" {{ "selected" if book_change.category == "理学部系" }}>理学部系</option>
                    <option value="医学部系" {{ "selected" if book_change.category == "医学部系" }}>医学部系</option>
                    <option value="歯学部系" {{ "selected" if book_change.category == "歯学部系" }}>歯学部系</option>
                    <option value="薬学部系" {{ "selected" if book_change.category == "薬学部系" }}>薬学部系</option>
                    <option value="工学部系" {{ "selected" if book_change.category == "工学部系" }}>工学部系</option>
                    <option value="農学部系" {{ "selected" if book_change.category == "農学部系" }}>農学部系</option>
                </select>
            </div>
            <div>
                状態
                <select name="status" required>
                    <option value="中古" {{ "selected" if book_change.status == "中古" }}>中古</option>
                    <option value="新品" {{ "selected" if book_change.status == "新品" }}>新品</option>
                    <option value="未使用" {{ "selected" if book_change.status == "未使用" }}>未使用</option>
                </select>
            </div>
            <div>
                <input type="submit" value="確認画面へ">
            </div>
        </form>
    </body>
</html>