<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教科書購入</title>
</head>
<body>
    <table border="1">
        <caption>教科書一覧</caption>
        <tr>
            <th>教科書ID</th>
            <th>タイトル</th>
            <th>価格</th>
            <th>分類</th>
            <th>状態</th>
        </tr>
        {% for item in items %}
        <tr>
            <th>{{ item.id }}</th>
            <th>{{ item.title }}</th>
            <th>{{ item.price }}</th>
            <th>{{ item.category }}</th>
            <th>{{ item.status }}</th>
            <th>
            <form action="{{url_for('buy.buy_confirm', id=item.id)}}" method="GET">
            <input type="submit" value="購入へ">
            </form>
            </th>
        </tr>
        {% endfor %}
        </table>
</body>
</html>