<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報変更</title>
</head>
<body>
    <p>変更する会員情報を入力して下さい</p>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == 'error' %}
            {{message}}
        {% endif %}
    {% endfor %}
    <form action="{{url_for('user_info_change.user_confirm')}}" method="POST">
        <p>名前　<input type="text" name="name" value="{{user_change.name}}" maxlength="50" required></p>
        <p>住所　<input type="text" name="address" size="50" value="{{user_change.address}}" maxlength="200" required></p>
        <p>電話番号　<input type="tel" name="tel" value="{{user_change.tel}}" maxlength="20" required></p>
        <p>メールアドレス　<input type="email" name="email" value="{{user_change.email}}" maxlength="50" required></p>
        <p><input type="submit" value="変更画面へ"></p>
    </form>
</body>
</html>