<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>（管理者専用）会員管理</title>
</head>
<body>
    <form action="{{url_for('user_management.user_search')}}" method="POST">
        <p>会員検索（ユーザ名を入力）<input type="text" name="search"><input type="submit" value="検索"></p>
    </form>
    <table border="1">
        <caption>会員情報一覧</caption>
        <tr>
            <th>ユーザID</th>
            <th>名前</th>
            <th>住所</th>
            <th>電話番号</th>
            <th>メールアドレス</th>
        </tr>
        {% for user in users %}
            {% if user.id != 1 %}
                <tr>
                    <th>{{ user.id }}</th>
                    <th>{{ user.name }}</th>
                    <th>{{ user.address }}</th>
                    <th>{{ user.tel }}</th>
                    <th>{{ user.email }}</th>
                    <th>
                        <form action="{{url_for('user_management.user_info_show', id=user.id)}}" method="GET">
                            <input type="submit" value="変更">
                        </form>
                    </th>
                    <th>
                        <form action="{{url_for('user_management.user_delete', id=user.id)}}" method="POST">
                            <input type="submit" value="退会">
                        </form>
                    </th>
                </tr>
            {% endif %}
        {% endfor %}
        <a href="{{url_for('top.home')}}">会員ページへ</a>
    </table>
</body>
</html>