<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == 'error' %}
            {{ message }}
        {% endif %}
    {% endfor %}
    <form action="{{url_for('top.login')}}" method="POST">
    <p>メールアドレス<input type="email" name="email" required></p>
    <p>パスワード　<input type="password" name="password" required></p>
    <p><input type="submit" value="ログイン"></p>
    </form>

    <p><a href="{{url_for('top.register')}}">新規会員登録はこちら</a></p>
        
</body>
</html>