<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報変更確認</title>
</head>
<body>
    <form action="{{url_for('user_management.user_update', id=user_id)}}" method="POST">
        <p>こちらの変更内容でお間違いないですか。</p>

        <div>
            名前 
            <input type="text" name="name" value="{{name}}" maxlength="50" required>
        </div>
        <div>
            住所 
            <input type="text" name="address" size="50"  value="{{address}}" maxlength="200" required>
        </div>
        <div>
            電話番号 
            <input type="tel" name="tel" value="{{tel}}" maxlength="20" required>
        </div>
        <div>
            メールアドレス 
            <input type="email" name="email" value="{{email}}" maxlength="50" required>
        </div>
        <div>
            <input type="submit" value="変更する">
        </div>

    </form>
</body>