<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>（管理者専用）会員情報変更</title>
</head>
<body>
    <form action="{{url_for('user_management.user_update', id=user_info.id)}}" method="POST">
        <p>変更する会員情報を入力して下さい</p>

        <div>
            名前 
            <input type="text" name="name" value="{{user_info.name}}" maxlength="50" required>
        </div>
        <div>
            住所 
            <input type="text" name="address" size="50"  value="{{user_info.address}}" required>
        </div>
        <div>
            電話番号 
            <input type="tel" name="tel" value="{{user_info.tel}}" required>
        </div>
        <div>
            メールアドレス 
            <input type="email" name="email" value="{{user_info.email}}" required>
        </div>
        <div>
            <input type="submit" value="変更する">
        </div>

    </form>
</body>
</html>