<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>教科書売買システム</title>
    </head>
    <body>
        <table border="1">
            <caption>教科書情報</caption>
            <tr>
                <th>教科書ID</th>
                <th>タイトル</th>
                <th>価格</th>
                <th>分類</th>
                <th>状態</th>
            </tr>
            <tr>
                <td>{{ buy_items.id }}</td>
                <td>{{ buy_items.title }}</td>
                <td>{{ buy_items.price }}</td>
                <td>{{ buy_items.category }}</td>
                <td>{{ buy_items.status }}</td>
            </tr>
        </table>
        <div>
        <form action="{{ url_for('buy.buy_complete')}}" method="post">
             <input type="radio" name="pay_method" value="1" checked>クレジットカード
             <input type="radio" name="pay_method" value="2">口座振替
             <input type="radio" name="pay_method" value="3">代引き
        </div>
            <input type="submit" value="購入">
        </form>
    </body>
</html>