<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>教科書情報変更（管理者用）</title>
    </head>
    <body>
        <form action="{{url_for('book_management.book_update', id=book_info.id)}}" method="POST">
            <p>変更する教科書情報を入力してください</p>
            <p>タイトル<input type="text" name="title" value="{{book_info.title}}" required></p>
            <p>ISBN番号<input type="text" name="isbn"  size="20" value="{{book_info.isbn_no}}" required>
                <p><small>ISBNの後は-なしで数字を入力してください</small></p>
            <p>著者<input type="text" name="author" size="20" value="{{book_info.author}}" required></p>
            <p>出版社<input type="text" name="publisher" size="20" value="{{book_info.publisher}}" required></p>
            <P>価格<input type="number" name="price" size="20" min="0" max="999999999" value="{{book_info.price}}" required></P>
            <p>分類
                <select size="1" name="category" required>
                    <option value="文学部系" {{ "selected" if book_info.category == "文学部系" }}>文学部系</option>
                    <option value="教育学部系" {{ "selected" if book_info.category == "教育学部系" }}>教育学部系</option>
                    <option value="法学部系" {{ "selected" if book_info.category == "法学部系" }}>法学部系</option>
                    <option value="社会学部系" {{ "selected" if book_info.category == "社会学部系" }}>社会学部系</option>
                    <option value="経済学部系" {{ "selected" if book_info.category == "経済学部系" }}>経済学部系</option>
                    <option value="理学部系" {{ "selected" if book_info.category == "理学部系" }}>理学部系</option>
                    <option value="医学部系" {{ "selected" if book_info.category == "医学部系" }}>医学部系</option>
                    <option value="歯学部系" {{ "selected" if book_info.category == "歯学部系" }}>歯学部系</option>
                    <option value="薬学部系" {{ "selected" if book_info.category == "薬学部系" }}>薬学部系</option>
                    <option value="工学部系" {{ "selected" if book_info.category == "工学部系" }}>工学部系</option>
                    <option value="農学部系" {{ "selected" if book_info.category == "農学部系" }}>農学部系</option>
                </select>
                </select>
            </p>
            <p>教科書の状態
                <select size="1" name="status" required>
                    <option value="中古" {{ "selected" if book_info.status == "中古" }}>中古</option>
                    <option value="新品" {{ "selected" if book_info.status == "新品" }}>新品</option>
                    <option value="未使用" {{ "selected" if book_info.status == "未使用" }}>未使用</option>
                </select>
            </p>

        
                <input type="submit" value="変更する">
            
        </form>
    </body>
</html>